html {
  padding: 40px;
  background: #222;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

.visible {
  display: block;
}

article {
  display: none;
}

.active {
  color: green;
}

a {
  color: white;
  margin: 20px;
}
