/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* -------------------------------------------------------------------- */

html {
  font-size: 16px;
}


/* ------------------------ GENERAL --------------- */

h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.red {
  border: 1px solid rgb(170, 38, 34);
  background: rgba(250, 128, 114, 0.5);
}

.brown {
  background: rgba(90, 50, 90, 0.3);
  border: 1px solid rgb(100, 70, 110);
}

.green {
  border: 1px solid rgb(43, 88, 43);
  background: rgba(143, 188, 143, 0.4);
}

.grey {
  background-color: lightgrey;
  border: 1px solid grey;
}

button:hover, label:hover {
  cursor: pointer;
}


/* ------------------------ PLAYER LIST --------------- */

.ladder, .file-list, .load-related, .player-form, .round {
  box-sizing: border-box;
  padding: 30px;
  height: 85%;
  border-left: 1px solid white;
}

.ladder {
  margin-right: 50%;
  border-color: rgba(143, 188, 143, 0.4);
  min-width: 330px;
}

.button {
  width: 130px;
}

ol {
  margin-bottom: 80px;
  list-style-position: outside;
  counter-reset: player;
}

li.player-list {
  box-sizing: border-box;
  position: relative;
  counter-increment: player;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid rgba(143, 188, 143, 0.4);
}

li.player-list:hover {
  background: #eee;
}

li.player-list:before {
  content: counter(player) ".";
  position: absolute;
  top: 23px;
  left: 10px;
}

.clear {
  clear: both;
}

form.player-name {
  display: border-box;
  margin-right: 200px;
  height: 100%;
  width: auto;
}

.player-name button {
  text-align: left;
  display: border-box;
  width: 100%;
  padding: 25px 0 25px 50px;
  background: inherit;
  border: none;
}

li.not_playing .player-name {
  text-decoration: line-through;
  color: grey;
}

form.delete-form {
  width: 80px;
  float: right;
  text-align: right;
  margin-left: 15px;
}

button.delete-player {
  padding: 25px 20px;
  background: inherit;
  border: none;
}

.prominent {
  display: block;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
}

.load-related {
  width: 45%;
  float: right;
  padding: 30px 0 30px 30px;
  border-color: rgba(90, 50, 90, 0.3);
  min-width: 370px;
}

ul.menu li {
  height: 80px;
  margin: 30px 0;
}

ul.menu form {
  height: 100%;
}

ul.menu button, ul.menu label {
  font-size: 0.8rem;
  padding: 20px;
  height: 80%;
}

ul.menu label {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  font-family: sans-serif;
  margin-right: 127px;
  padding: 0 10px;
  min-width: 220px;
}

.load-related ul.menu form.new-tournament {
  width: 85%;
  min-width: 340px;
}

ul.menu label * {
  display: inline-block;
  margin-bottom: 4px;
}

ul.menu label p {
  margin-right: 8px;
}

button.confirm {
  float: right;
  margin-right: 0;
}

.menu {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}


/* --------------------------- FILE LIST --------------- */

.file-list, .file-list .menu {
  border-color: rgba(90, 50, 90, 0.3);
}

.file-list {
  min-width: 360px;
}

.file-list form {
  display: inline-block;
}

button.file-name {
  width: 200px;
  margin-right: 30px;
}

.file-list button.execute {
  box-sizing: border-box;
  padding: 20px 0;
  width: 80px;
}

.file-list form[action*="new"] {
  width: 310px;
}

.file-list .menu label {
  width: 200px;
  min-width: 200px;
}

.file-list .menu label input {
  width: 140px;
}

.file.list > .back-link {
  color: rgb(100, 70, 110);
}

.back-link {
  text-decoration: underline;
}


/* --------------------------- NEW PLAYER --------------- */

.player-form {
  border-color: rgba(250, 128, 114, 0.5);
  max-width: 500px;
  min-width: 350px;
}

.player-form.edit_player {
  min-width: 370px;
}

.player-form .menu {
  border-color: rgba(250, 128, 114, 0.5);
}

.player-form>.back-link {
  color: rgb(170, 38, 34);
}


/* --------------------------- ROUND --------------- */

.round {
  border-color: rgba(143, 188, 143, 0.4);
  min-width: 296px;
}

.round ol {
  width: 100%;
}

.round li {
  width: 100%;
  padding: 15px 0;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round .back-link {
  color: rgb(43, 88, 43);
}

.round li form {
  width: 30%;
  min-width: 100px;
  display: inline-block;
}

.round li button {
  width: 100%;
  height: 65px;
}

.first {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.round>form {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(143, 188, 143, 0.4);
}

.round .winner>button {
  background-color: rgba(143, 188, 143, 0.4);
  border: 1px solid rgb(43, 88, 43);
}

.round form:not(.winner)[action*="/undo_win/"] button:hover {
  cursor: default;
}


/* --------------------------- LAYOUT --------------- */

main {
  padding: 20px;
}

h3.error, h3.success {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

.error {
  background: rgba(250, 128, 114, 0.5);
}

.success {
  background: rgba(143, 188, 143, 0.4);
}


/* ----------------------- BREAKING --------------- */

@media screen and (max-width: 780px) {
  .load-related {
    width: auto;
    float: none;
    margin-bottom: 5px;
    max-width: 500px;
    min-width: 340px;
  }
  .load-related ul.menu li {
    height: 65px;
    margin: 10px;
  }
  .load-related ul.menu button {
    padding: 10px;
  }
  .load-related ul.menu label {
    margin-right: 105px;
    min-width: 200px;
  }
  .load-related .confirm {
    margin-right: 20px
  }
  .ladder, .file-list, .load-related, .player-form, .round {
    padding-left: 15px;
  }
  main {
    padding-left: 10px;
  }
  .ladder {
    padding-right: 8px;
    margin-right: 0;
    border-color: rgba(143, 188, 143, 0.4);
    min-width: 310px;
  }
  h3.error, h3.success {
    padding: 10px;
    border-radius: 0 0 7px 7px;
  }

  .load-related ul.menu form.new-tournament {
    min-width: 304px;
  }
}

@media screen and (max-width: 420px) {
  main {
    padding-right: 10px;
  }
}
