<div class="file-list">
  <h2>Tournament Files:</h2>
  <ul class="menu">
    <% @files.each do |file| %>
    <li>
      <form action="/load/<%= file %>" method="post">
        <button type="submit" value="Submit" class="file-name brown">
          <%= file %>
        </button>
      </form><!--
    --><form action="/delete/<%= file %>" method="post"   Error: source does not appear to be markup.>
        <button type="submit" value="Submit" class="brown execute">Delete</button>
      </form>
    </li>

    <% end %>
    <li>
      <form action="/tourniment/new" method="post">
        <button type="submit" value="Submit" class="confirm brown execute">
          <p>Confirm</p>
        </button>
        <label class="brown">
          <p>New Tourniment:</p>
          <input name="filename" type="text"/>
          <input type="hidden" name="source" value="load" />
        </label>
      </form>
    </li>
  </ul>
  <% if session[:current_name] %>
  <!-- this is to avoid the back-link being present before any file has been loaded or if one has just been deleted -->
  
  <a class="back-link" href="/players">Return to Player List</a>

  <% end %>
</div>
