<div class="file-list">
<h2>Tournament Files:</h2>
<ul class="load-list">
  <% @files.each do |file| %>
  <li>
  <form action="/load/<%= file %>" method="post">
    <button type="submit" value="Submit">
      <%= file %>
    </button>
  </form>
  <form action="/delete/<%= file %>" method="post">
    <button type="submit" value="Submit">Delete</button>
  </form>
  </li>

  <% end %>
</ul>
<a href="/players">Back to Players</a>
</div>
