<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/gif" href="/images/logo.png">
    <link rel="stylesheet" href="/style/main.css">
    <title>SimpleChess</title>
  </head>
  <body>
  <% if session[:success] %>
  <h3 class="success"><%= session.delete(:success) %></h3>
  <% end %>
  <% if session[:error] %>
  <h3 class="error"><%= session.delete(:error) %></h3>
  <% end %>
  <main>
    <%= yield %>
  </main>
</body>
</html>
