<h3>Enter Player Details</h3>
<form action="/new_player" method="post">
<label>Name:
  <input name="name" type="text" />
</label>
<label>Score
  <input name="score" type="text" />
</label>
  <button type="submit" value="submit">Confirm</button>
</form>

<a href="/players">Return to Player List</a>
