
<form action="/validate" method="post">
  <div>
    <h4>Username:</h4>
    <input class="general" name="username" id="username" method="post" placeholder="<%= @username %>">
    <h4>Password:</h4>
    <input class="general"  name="password" id="password" method="post" placeholder="<%= @password %>">
  </div>
  <button type="submit">Sign In</button>

</form>
