/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -------------------------------------------------------------------- */

html{
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

section, nav {
  box-sizing: border-box;
}

nav {
  float:left;
  width: 330px;
  background: #464f77;
  height: 100vh;
  min-height: 650px;
  color: #a3a7bb;
}
nav table {
  width: 100%;
  position: relative;
  margin-top: 60px;
}

table.completed {
  margin-top: 40px;
}

table.completed td {
  text-decoration: line-through;
  text-align: left;
}

table.completed th {
  padding-bottom: 17px;
}

nav th:first-child, nav td:first-child {
  padding-left: 137px;
}

nav th:last-child, nav td:last-child {
  padding-right: 30px;
}

nav th {
  color: white;
  padding: 16px 0 15px 0;
  letter-spacing: 2px;
  text-align: left;
}

/* I couldn't work out how to get the longer numbers
right (i.e. the circle expands, but it doesn't look quite like the specs) so I just manually adjusted it to look like the specs in headers. Maybe this has something to do with my lack of helvetica... */

nav th .count {
  padding: 1px 5px 1px 3px;
}
nav td {
  padding: 12px 0;
}

nav tr.active {
  background: #383f5f;
  color: white;
}

/* Tiny bit of optional stuff, makes any row look "active" when we hover over it. I tred to use the hamburger thing to actually let the user select which row is active, but it's being weird and I suspect it's something really annoying and complicated to do with tables, so I stopped.

nav tr:not(:first-child):hover {
  background: #383f5f;
  color: white;
}

nav tr:not(:first-child):hover .count {
  color: white;
  background-color: #148fd5;
}

*/

td:last-child, .remaining th:last-child {
  text-align: right;
}

nav img {
  position: absolute;
  left: 102px;
  top: 10px;
}

section {
  position: relative;
  margin-left: 330px;
  padding: 0 100px 0 22px;
}

section td.done label {
  text-decoration: line-through;
  color: #b3b3b3;
}

section header {
  margin: 0 0 25px 12px;
  font-size: 1.31rem;
}

.count {
  box-sizing: border-box;
  font-size: 0.88rem;
  color: white;
  background-color: #148fd5;
  margin: 0 2px 0 20px;
  padding: 1px 5px 1px 5px;
  border-radius: 9px;
  letter-spacing: 0px;
}

.inactive {
  background: #6b7292;
  color: #c4c7d3;
}

section .count {
  vertical-align: 3px;
}

section header img {
  margin: 23px 0 30px 0;
  visibility: hidden;
}

section td, section th {
  width: 50%;
  padding: 14px 0px 13px 8px;
}

section td {
  border-top: 1px solid #e7e7e7;
}

section th {
  text-align: left;
  color: #3498d8;
}

section th img, section .box {
  margin-right: 14px;
}

section table {
  width: 100%;
}

.box {
  display: inline-block;
  background: url("images/unticked-box.png");
  width: 14px;
  height: 14px;
}

.done .box {
  background: url("images/ticked-box.png");
}

section label {
  margin-left: -2px;
  display: inline-block;
}

section label:hover {
  color: #148fd5;
  cursor: pointer;
}

section .done label:hover {
  color: Salmon;
}
/* -----------------------MODAL------------------------- */

.form, .dimmer {
  box-sizing: border-box;
}

.form {
  position: absolute;
  margin-left: 50px;
  max-width: 570px;
  min-width: 350px;
  top: 17.8%;
  right: 21%;
  background: white;
  padding: 35px 34px 24px 30px;
}

.dimmer {
  position: fixed;
  right: 0;
  width: 110vw;
  height: 110vh;
  background: rgba(0,0,0,0.2);
  display: block;
}

.form dt {
  float: left;
  min-width: 105px;
  margin-bottom: 5px; /*-----------------------*/
}

.form dd {
  margin-left: 105px;
  display: block;
  margin-bottom: 24px;
}

.form dd:last-child {
  margin-bottom: 20px;
}

.form input, .form textarea, .form select  {
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 7px;
}

.form select {
  width: 117px;
}

.form span {
  margin: 0 10px;
}

.slash-container {
  display: inline-block;
  white-space: nowrap;
}

dt {
  margin-top: 9px;
  vertical-align: top;
}
 select:invalid {
   color: #757575;
 }

option {
  color: black;
}

/* without this the disabled option displays as black the first time you select an option as soon as you move down the list. */

option:disabled {
  color: #757575;
}

.form textarea {
  height: 140px;
  resize: none;
}

.form-buttons {
    margin-left: 105px;
}

.form a {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 10px;
  margin: 0 18px 12px 0;
  width: 180px;
  height: 36px;
  color: white;
  background: #148fd5;
  text-align: center;
}


#modal, .activater, #nav-bar {
  display: none;
}

#modal:checked + .activater {
  display: block;
}

/* -------------------------- BREAKPOINTS --------------------- */

@media screen and (max-width: 768px){
  nav {
    display: none;
  }

  section header img {
    visibility: visible;
  }

  #nav-bar:checked + nav {
    display: block;
  }

  #nav-bar:checked ~ section {
    margin-left: 335px;
  }

  section {
    margin-left: 0;
    min-width: 290px;
  }

  .form {
    top: 5%;
    margin-left: 0;
    position: fixed;
    left: 6%;
  }

  /* some extra optional stuff to save some space
  as we get thinner. everything functions as specified with or without it.


  nav {
    width: 250px;
  }

  section {
    padding-right: 30px;
    min-width: 220px;
  }

  #nav-bar:checked ~ section {
    margin-left: 250px;
  }

  nav th:first-child, nav td:first-child {
    padding-left: 60px;
  }

  nav img {
    left: 22px;
  }

    */
}
