extends layout

block content
  ul#items
    li(data-id="1")
      article
        header
          figure
            img(src="images/sashimi-salad.jpg" alt="menu-item")
          h2.name Sashimi salad
        p.price $12.00
        footer
          a(href="#" class="add_cart") Add to cart
