<div id='obscure'>
<form>
  <label>Name: <input type="text" name="name" value=""></label>
  <ul>
    <li><label>colour1: <input type="text" name="colour1" value=""></label></li>
    <li><label>colour2: <input type="text" name="colour2" value=""></label></li>
    <li><label>colour3: <input type="text" name="colour3" value=""></label></li>
  </ul>
  <button type="submit" name="button">submit</button>
</form>
</div>
